nav ul {
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #adadadce;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  margin-bottom: 2rem;
}

@media (max-width: 750px) {
  .header {
    overflow: hidden;
    position: relative;
  }

  .header h1 {
    text-transform: uppercase;
  }

  .header #myLinks {
    display: none;
  }

  .header a {
    color: white;
    padding: 5px 0;
    display: block;
  }

  .header a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }

  button {
    color: white;
    background-color: #1762a7;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 1.5rem;
  }

  button:hover {
    background-color: #2180d8;
  }
}

@media (min-width: 750px) {
  .btn {
    justify-content: left;
  }
  .navbar ul {
    display: flex;
    justify-content: center;
  }

  .navbar li {
    padding-left: 1rem;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  #myLinks {
    padding-top: 0.5rem;
  }

  .header .icon {
    display: none;
  }

  button {
    color: white;
    background-color: #1762a7;
    padding: 0.75rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    font-size: 0.9rem;
    outline: none;
    border: none;
    cursor: pointer;
    margin-top: 1.5rem;
  }

  button:hover {
    background-color: #2180d8;
  }
}
