/* google fonts import */
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

/* box-sizing property*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Poppins, serif;
  color: white;
}

h1,
h3,
p {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: min(90%, 70rem);
}

.header h1 {
  text-transform: uppercase;
}

.img-container {
  margin: 0;
  padding: 0;
  background-image: url(img/scooter.jpg);
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

nav ul {
  text-transform: uppercase;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: #adadadce;
}

.footer-nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}

.footer-nav p {
  padding: 0;
}

.box1 {
  padding-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.box2 h4 {
  color: black;
  margin: 0;
  text-transform: uppercase;
}

.title {
  margin-top: 5rem;
}

.title p {
  padding-top: 1rem;
  color: white;
}

/*about section*/
.about h1,
p {
  color: black;
  padding-bottom: 2rem;
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 750px) {
  .split {
    flex-direction: row;
  }

  .footer-nav {
    flex-direction: row;
  }
}

.scotter-img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  background-repeat: no-repeat;
  padding: 1.5rem 0;
}

.about h1 {
  margin-top: 2rem;
  text-align: center;
}

@media (min-width: 750px) {
  .text-center p {
    padding: 6rem 0;
  }
}

/*why wind section*/
.wind-container,
footer {
  background-color: rgb(232, 246, 255);
}

.whyrent {
  background-color: white;
}

.wind-container h1 {
  color: black;
  text-align: center;
  padding: 2rem 0;
  font-size: 24px;
}

.text-centered {
  color: black;
  text-align: center;
  padding: 0.8rem 0;
  font-weight: bold;
}

.cntr {
  text-align: center;
}

.wind-container img {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

/* .split-icons {
  display: flex;
  flex-direction: column;
} */

.icon {
  display: block;
  padding: 0 10px;
}

@media (min-width: 750px) {
  /* .split-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */

  /* .text-centered {
    text-align: center;
  } */

  .wind-container section {
    max-width: 33%;
    display: inline-block;
    padding: 0 2rem;
  }
}

.micromobility h1 {
  color: black;
  margin-top: 2rem;
}

.img-scooter img {
  display: block;
  max-width: 70%;
}

.grid-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 750px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
