*,
*::before,
*::after {
  box-sizing: border-box;
}

/* img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

div {
  border: 1px solid black;
}

.text-centered {
  text-align: center;
}

/* .container-flexbox {
  display: flex;
  flex-direction: column;
} */

/* @media (min-width: 700px) {
  .container-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
} */

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.icon {
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4caf50;
  color: white;
}
